@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


img {
	width:100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

b {
  font-weight: bold;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 15px;
  font-family:"Noto Sans TC", "微軟正黑體";
  font-weight: 100;
  margin: 0;
  padding: 0;
}

font {
  font-family:"Noto Sans TC", "微軟正黑體";
}
select{
  border: none;
  line-height: 1em;
}
select:focus-visible {
  outline: 0;
}
.container{
  display: flex;
  height: 100%;
  width: 100%;
}
.left{
  width: 300px;
}
.logo{
  width: 120px;
  margin: 30px auto 15px;
}
.left p{
  font-size: 20px;
  text-align: center;
  font-weight:450;
  color:#454545 ;
  width: 98%;
  margin: 0 auto;
}
.left .select_area{
  display: none;
}
.content{
  background:#f4f4f4 ;
  width: calc(100% - 390px);
  padding: 0 60px 0 30px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.select_area{
  display: flex;
  align-items: center;
  color:#424242 ;
  font-size: 24px;
  font-weight:450;
  margin: 0 auto 20px;
  width: 100%;
  max-width:1000px;
}
.select_area select{
  border: 1px #b5b5b5 solid;
  border-radius:4px;
  color: #3c3c3c;
  font-size: 20px;
  padding:4px;
  margin-left: 14px;
  font-weight:700;
}
.select_area select option{
  font-weight:700;

}
.chart_area{
  width: 100%;
  max-width:1000px;
  margin: 0 auto;
  /* overflow: hidden; */
}
#myChart{
  /* margin-top: -3px; */
}
@media only screen and (max-width: 1024px) {
  body{
    height: auto;
  }
  .left{
    width: 100%;
  }
	.container{
    display: block;
  }
  .content{
    width: calc(100% - 20px);
    max-height: 500px;
    padding: 10px;
  }
  .content .select_area{
    display: none;
  }
  .left .select_area{
    display: block;
  }
  .select_area{
    text-align: center;
    margin: 10px auto;
  }
}